body {
background-color:##EADDCA;
}

h1 {
color:blue;
font-family:times;
background-color:SkyBlue;
border:5px solid black;
padding:50px;
 }

h2 {
color:black;
font-family:helvetica;
background-color:SeafoamGreen;
border:5px solid black;
padding:50px;
 }
}
